$blueLightest: #F6F9FD;

$blueLight:  #DBEAF7;
$blue: #1070CA;

$green: #06C847;
$sea: #14B5D0;

$greyLightest: #A3A3A3;
$greyLight: #808082;
$grey: #464A4D;
$greyDark: #212528;
$greyDarkest: #1E1E1E;

$babyBlue: #4DA8FF;
$greyBlueLight: #66788A;
$greyBlue: #425A70;
$greyBlueDark: #234361;
